@using ViewsExample.Models
@model List<Person>

@*CONTROLLER GIVES & VIEW RECEIVES*@
@*If you want to use ViewData - type cast is must e.g.List<Person>? people = (List<Person>?)ViewData["people"];*@
@*If you use ViewBag, you can access predefined property*@


<!DOCTYPE html>
<html>
	<head>
		<title>@ViewBag.apptitle</title>
		<meta charset="utf-8" />
		<link href="~/StyleSheet.css" rel="stylesheet"/>
	</head>
	<body>
		<div class="page-content">
		@*	if you are not taking the content from user, ok to use. Otherwise not safe.*@
		@*@Html.Raw(alertMessage) *@
		<h1>Persons</h1>
		@{
			//List<Person>? people = (List<Person>?)ViewData["people"];
		}

		@foreach (Person person in Model)
		{
			<div class="box float-left w-50">
				<h3>@person.Name</h3>
				<table class="table w-100">
					<tbody>
						<tr>
							<td>Gender</td>
							<td>@person.PersonGender</td>
						</tr>
						<tr>
							<td>Date of Birth</td>
							<td>@person.DateOfBirth?.ToString("MM/dd/yyyy")</td>
						</tr>
					</tbody>
				</table>
				<div>
					<a href="/person-details/@person.Name">Details</a>
				</div>
			
			
			</div>
        }
	</div>

	<div>
		<a href="/person-with-product">Person with Product</a>
	</div>

		@*<h2>Hello @person.Name</h2>
		@if (person.DateOfBirth.HasValue)
	{
		double age = Math.Round((DateTime.Now - person.DateOfBirth).Value.TotalDays / 365.25);
		<h3>@age years old</h3>
	}
	else
	{
	<h3>Date of birth is unknown</h3>
	}

	@switch(person.PersonGender)
	{
		case Gender.Male:
			<p>November 19 is Internaltional Men's Day'</p>
			;
			break;
		case Gender.Female:
			<p>March 8 is International Womens Day</p>
			;
			break;
		case Gender.Other:
			<p>March 31 is International Transgender's day'</p>
			;
			break;
	}*@
	
	</body>
</html>